<div style="margin:15px;">
	<div style="width:500px;">
		<svg-icon src="images/eye.svg" class="red"></svg-icon>
		<svg-icon src="images/eye.svg" class="green"></svg-icon>
		<svg-icon src="images/eye.svg" class="blue"></svg-icon>
	</div>

	<form style="clear:both;">
		<h2>Set the SVG style</h2>
		<fieldset style="border:none;">
			<label>red:</label> <input type="number" min="0" max="255" [(ngModel)]="r" name="red">
			<label>green:</label> <input type="number" min="0" max="255" [(ngModel)]="g" name="green">
			<label>blue:</label> <input type="number" min="0" max="255" [(ngModel)]="b" name="blue">
		</fieldset>
		<label>width:</label> <input type="number" min="0" max="1000" [(ngModel)]="w" name="width"><label> px</label>
	</form>

	<div *ngIf="display">
		<svg-icon [src]="img[onImg]" [ngStyle]="{'width': w + 'px', 'fill': 'rgb(' + r + ',' + g + ',' + b + ')' }"></svg-icon>

		<pre>&lt;svg-icon src="{{img[onImg]}}" 
  style="{{getStyle()}}"&gt;
&lt;/svg-icon&gt;</pre>
	</div>

	<div>
		<button (click)="swapImg()">Swap SVG</button>
		<pre style="display:inline-block;">Source {{img[onImg]}}</pre>
	</div>
	<div>
		<button (click)="unload(img[onImg])">{{display ? 'Unload SVG' : 'Reload SVG'}}</button>
		<pre style="display:inline-block;">{{message}}</pre>
	</div>

	<div class="explain">
		<p [hidden]="!display">Unloading the SVG will remove it from the registry. The next time the &lt;svg&#8209;icon&gt; is 
		used with the SVG's URL, the SVG will be loaded again.  Unloading will not remove a SVG already displayed in
		the document as can be seen by the persistence of the three <svg-icon src="images/eye.svg" class="inline">
		</svg-icon> SVG at the top of the page.</p>

		<p *ngIf="!display">Reloading the SVG will cause an http fetch to occur to load the SVG into the registry 
		where it will persist until programatically unloaded.</p>
	</div>
</div>
