<div style="margin:15px;">
	<div style="width:500px;">
		<svg-icon src="images/eye.svg" style="fill:red;width:90px;float:left;"></svg-icon>
		<svg-icon src="images/eye.svg" style="fill:green;width:90px;float:left;margin-left:20px;"></svg-icon>
		<svg-icon src="images/eye.svg" style="fill:blue;width:90px;float:left;margin-left:20px;"></svg-icon>
	</div>

	<form style="clear:both;">
		<h2>Set the style</h2>
		<fieldset style="border:none;">
			<label>red:</label> <input type="number" min="0" max="255" [(ngModel)]="r" name="red">
			<label>green:</label> <input type="number" min="0" max="255" [(ngModel)]="g" name="green">
			<label>blue:</label> <input type="number" min="0" max="255" [(ngModel)]="b" name="blue">
		</fieldset>
		<label>width:</label> <input type="number" min="0" max="1000" [(ngModel)]="w" name="width"><label> px</label>
	</form>

	<svg-icon src="images/eye.svg" [ngStyle]="{'width': w + 'px', 'fill': 'rgb(' + r + ',' + g + ',' + b + ')' }"></svg-icon>

<small><pre>&lt;svg-icon src="images/eye.svg" 
  style="{{getStyle()}}"&gt;&lt;/svg-icon&gt;</pre></small>
</div>
